<a href="https://colab.research.google.com/github/yjinheon/recommender-system/blob/main/1_basic_reco.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


## 데이터 불러오기

In [1]:
import pandas as pd

In [2]:
# 유저정보 불러오기

u_cols = ['user_id','age','sex','occupation','zip_code']
users = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/data/Recosys/movielens100k/u.user',sep='|',names=u_cols,encoding='latin-1')

In [3]:
users.set_index('user_id',inplace=True)

In [4]:
users.head()

         age sex  occupation zip_code
user_id
1         24   M  technician    85711
2         53   F       other    94043
3         23   M      writer    32067
4         24   M  technician    43537
5         33   F       other    15213

In [5]:
# 영화정보 불러오기
import pandas as pd
i_cols = ['movie_id', 'title', 'release date', 'video release date', 'IMDB URL', 
          'unknown', 'Action', 'Adventure', 'Animation', 'Children\'s', 'Comedy', 
          'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir', 'Horror', 
          'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']
movies = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/data/Recosys/movielens100k/u.item', sep='|', names=i_cols, encoding='latin-1')
movies = movies.set_index('movie_id')
movies.head()

                      title release date  ...  War Western
movie_id                                  ...
1          Toy Story (1995)  01-Jan-1995  ...    0       0
2          GoldenEye (1995)  01-Jan-1995  ...    0       0
3         Four Rooms (1995)  01-Jan-1995  ...    0       0
4         Get Shorty (1995)  01-Jan-1995  ...    0       0
5            Copycat (1995)  01-Jan-1995  ...    0       0

[5 rows x 23 columns]

In [6]:
# 영화 평점데이터 읽기
# u.data 파일을 DataFrame으로 읽기
import pandas as pd
r_cols = ['user_id', 'movie_id', 'rating', 'timestamp']
ratings = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/data/Recosys/movielens100k/u.data', sep='\t', names=r_cols, encoding='latin-1') 
ratings = ratings.set_index('user_id')
ratings.head()

         movie_id  rating  timestamp
user_id
196           242       3  881250949
186           302       3  891717742
22            377       1  878887116
244            51       2  880606923
166           346       1  886397596

위 작업은 사실 SQL로 하는게 보다 일반적이다.

## 인기제품 방식

정확도에 관계없이 가장 간단한 추천을 하는 방식은 모든 사람에게 똑같은 추천을 하는 것이다.

이때는 모든 사람들에게 제품을 인기순으로 나열해서 보여주는 것이 가장 합리적이다. 

이 경우 각 영화에 대한 평점을 평균해서 평균값이 높은 것을 순서대로 추천한다.

이 모델은 추천시스템을 만들 때 baseline 모델로 활용할 수 있다.

In [9]:
score = ratings.groupby('movie_id').rating.mean()

In [10]:
score.head()

movie_id
1    3.878319
2    3.206107
3    3.033333
4    3.550239
5    3.302326
Name: rating, dtype: float64

In [11]:
# Best Seller 추천하기
def best_seller(score,n_items):
    """
    점수받아서 정렬 후 인자만큼 출력
    """
    score_sort=score.sort_values(ascending=False)[:n_items]
    recom_movies = movies.loc[score_sort.index] # iloc로 할 경우 한칸씩 밀려서 loc로 함
    recommendations = recom_movies['title']
    return recommendations

In [12]:
best_seller(score,5)

movie_id
1293                                      Star Kid (1997)
1467                 Saint of Fort Washington, The (1993)
1653    Entertaining Angels: The Dorothy Day Story (1996)
814                         Great Day in Harlem, A (1994)
1122                       They Made Me a Criminal (1939)
Name: title, dtype: object

In [13]:
score_sort_2 = score.sort_values(ascending=False)[:5]

In [15]:
score_sort_2.index

Int64Index([1293, 1467, 1653, 814, 1122], dtype='int64', name='movie_id')

In [18]:
movies.loc[[1293, 1467, 1653, 814, 1122]]

                                                      title  ... Western
movie_id                                                     ...
1293                                        Star Kid (1997)  ...       0
1467                   Saint of Fort Washington, The (1993)  ...       0
1653      Entertaining Angels: The Dorothy Day Story (1996)  ...       0
814                           Great Day in Harlem, A (1994)  ...       0
1122                         They Made Me a Criminal (1939)  ...       0

[5 rows x 23 columns]